*{
  margin: 0;
  padding: 0;
box-sizing: border-box; 

}

:root{
  scroll-behavior: smooth;

}

body{
  font-family: 'Open Sans', sans-serif;
}

//inicio de .menu-container
.container{
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

header{
  height: 100vh;
  background-image: linear-gradient(to right, rgba(67, 67, 67, 0.205) 0%, rgba(0, 0, 0, 0.062) 100%), url(../img/keagan-henman-Won79_9oUEk-unsplash.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.head{
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aquamarine;
}

//inicio del accordion
.main-accordion-container{

  .accordion-item{
    background:#50A7C2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffff;
    flex-direction: column;
    padding: 0 10px 0 10px;

  .accordion-desc{
    display:none;
    background: rgb(26, 73, 57);
    padding: 15px;
    margin-top: 15px;
    width:90%;
  }

  .accordion-title{
    color:black;
    font-family: Arial;
    font-size: 20px;
    width:90%;
    display:flex;
    justify-content: center;
    padding:20px;
    text-decoration-color: rgb(229, 229, 235);
  }
  &.tab-active{
    .accordion-desc{
      width:100%;
      height: auto;
      display: flex;
      justify-content: center;
    }
  }

  }

}
//fin del accordion




//hamburger Icon
.hamburguer{
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 30px;
  background:aquamarine;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgb(8, 8, 8);
}

.menu-navegacion{
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition:transform .3s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgb(14, 13, 13);
}

.spread{
  transform:translate(0);
}

.menu-navegacion a{
  color:aquamarine;
  text-decoration: none;
}
.titulo{
  font-size: 60px;
  margin-bottom: 15px;
}

.copy{
  font-weight: 300;
  font-size: 25px;
}

//nuestro servicio

.subtitulo{
  text-align: center;
  font-weight: 300;
  color: #50A7C2;
  margin-bottom: 40px;
  font-size: 40px;
}

.container-servicio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.container-servicio img{
  width: 40%;
  

}
.checklist-servicio{
  width: 45%;
}

.service{
  margin-bottom: 20px;
}

.n-service{
  margin-bottom: 7px;
  color:antiquewhite;

}

.number{
  display: inline-block;
  background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
  width: 30px;
  height: 30px;
  color:#fff;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
  margin-right: 5px;
}

.gallery{
  background: rgb(241, 243, 247);
}

.container-gallery{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.img-gallery{
  &:hover {
    transform: rotate(-2deg) scale(1.05) translateY(-40px);
  }
  object-fit: cover;
  width: 30%;
  display: block;
  margin-bottom: 13px;
  box-shadow: 0 0 6px rgba(0, 0, 0,.5);
  cursor: pointer;

}

.imagen-light{
  position: fixed;
  background: rgba(0, 0, 0,.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform .2s ease-in-out;
}

.show{
  transform: translate(0);
}

.agregar-imagen{
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  transform: scale(0);
  transition: transform .3s .2s;
}

.showImage{
  transform: scale(1);
}

.close{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
}


//inicio de cards
.card-list{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;

  .card-item {
    width: 20%;
    height: 310px;
    border-radius: 8px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 5px -1px black;
    margin-bottom: 10px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: rgb(44, 92, 107);

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      margin-bottom: 10px;
      max-height: 100px;
      min-height: 160px;
      display:flex;
    }

    .card-title{
      font-size: 18px;
      font-weight: bold;
      font-family: 'Helvetica';
      margin-bottom: 13px;
    }

    .card-info{
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: space-around;
    }
    
    .card-desc{
      font-family: 'Helvetica';
      font-size: 12px;
    }

    .card-cta{
      text-decoration: none;
      display: block;
      text-align: left;
      font-family: 'Helvetica';
      font-size: 12px;
      border-top: solid 1px black;
      padding-top: 10px;
      margin-top: 25px;
    }

  }
}
//fin cards

//footer
footer{
  background: rgb(74, 143, 120);
  padding-bottom: 0.1px;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 15px;
}

.contact-us{
  width: 40%;
  color:black;
}

.brand{
  font-weight: 500;
  font-size: 48px;
}

.brand+p{
  font-weight: 500;
}

.social-media{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.social-media-icon{
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: rgb(211, 223, 219);
}

.social-media-icon:hover{
  background: azure;
  color: #50A7C2;
}

.social-media i{
  font-size: 30px;
  line-height: 60px;
}

.line{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}
//800 media
@media (max-width:800px) {
.menu-navegacion{
  width: 50vw;
}
.titulo{
  font-size: 40px;
}  

.container-servicio img{
  width: 80%;
  margin-bottom: 40px;
}

.checklist-servicio{
  width: 80%;
}

.service{
  margin-bottom: 30px;
}
.agregar-imagen{
  width: 80%;
}
.img-gallery{
  width: 45%;
}
.cont-expert{
  width: 80%;
}

.footer-content{
  justify-content: center;
}

.social-media{
  width: 80%;
  justify-content: space-evenly;
}

.social-media-icon{
  margin-left: 0;
}

.social-media i{
  margin-left: 0;
}

.contact-us{
  text-align: center;
  width: 80%;
  margin-bottom: 40px;
}

}
//fin del media 800

@media (max-width:500px){
  .menu-navegacion{
    width: 65vw;
  }

  .hamburguer{
    top:20px;
    right: 20px;
  }

  .titulo{
    font-size: 30px;

  }

  .subtitulo{
    font-size: 30px;
  }

  .agregar-imagen{
    width: 95%;
  }

  .img-gallery{
    width: 95%;
  }

  .social-media{
    width: 100%;
  }

  .contact-us{
    width: 90%;
  }
}

